{% extends 'layout.njk' %}

{% block title %}
School - Teachers
{% endblock %}

{% block content %}
<div class="title">
    <h1>Edit Teacher</h1>
</div>
<form class="card" method="post" action="/teachers">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/4852103/500x500) no-repeat left center / cover;"></section>
    <section class="details">
        
        {% include "teachers/fields.njk" %}

    </section>
</form>
{% endblock %}