{% extends "layout.njk" %}

{% block content %}
    <div class="not-found">
        <h1>PAGE NOT FOUND</h1>
        <iframe src="https://giphy.com/embed/kBlPua2g1f66PGjT7w" width="480" height="380" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <p>
            <a href="https://giphy.com/gifs/yipyips-fail-404-yip-kBlPua2g1f66PGjT7w">via GIPHY</a>
        </p>
    </div>
{% endblock %}