@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-background-body: rgb(236, 206, 242);
    --color-background-header: rgb(255, 255, 255);
    --color-dark-purple: #220426;
    --color-purple: rgb(154, 4, 191);
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    background: var(--color-background-body);
    font-family: 'Roboto', sans-serif;
    color: var(--color-dark-purple);
}

header {
    background: var(--color-background-header);
    padding: 30px;
}

header div {
    text-align: right;
}

header div a {
    color: var(--color-dark-purple);
    text-decoration: none;
    line-height: 18px;
    margin: 0 15px;
}

header div a:hover {
    color: var(--color-purple);
    transition: color 200ms;
}

#company {
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
}

#company img {
    border: 5px solid #FFF;
    border-radius: 50%;
}

#company h1 {
    font-size: 72px;
}

#about {
    max-width: 800px;
    min-width: 250px;
    padding: 0 100px;
    text-align: center;
    margin: 0 auto 100px;
}

.section-title {
    font-size: 30px;
    line-height: 1.3em;
    margin-bottom: 1em;
}

.section-resume {
    line-height: 1.5em;
}

#technologies {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 30px
}

#technologies h3 {
    margin-bottom: 2em;
}

#technologies li {
    list-style-type: none;
    margin-bottom: 30px;
}

#technologies li img {
    border-radius: 5px;
    width: 70px;
    height: 70px;
    margin: 0.3em;
}

#technologies p {
    font-weight: bold;
}

.footer {
    text-align: center;
    border-top: 1px solid rgba(154, 4, 191, 0.1);
    padding: 10px;
    margin-top: 30px;
}

.footer a {
    color: var(--color-dark-purple);
    margin: 0 15px;
    text-decoration: none;
}

.footer a:hover {
    color: var(--color-purple);
    font-weight: bold;
    transition: font-weight 150ms;
}

.title-page {
    text-align: center;
    padding: 30px;
}

.title-page h1 {
    font-size: 48px;
}

/* CARDS */
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 0 100px;
}

.card {
    background-color: var(--color-dark-purple);
    width: 300px;
    height: 300px;
    color: white;
    border-radius: 15px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}

.card__title-course {
    margin: 30px 0;
}

.card__info-course {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.card__price {
    background-color: var(--color-purple);
    border-radius: 3px;
}

.course {
    height: 87vh;
    width: 100%;
    position: relative;
}

iframe {
    height: 100%;
    width: 100%;
    position: relative;
}

.not-found {
    color: #220426;
    font-weight: bold;
    text-align: center;
}

.not-found h1 {
    font-size: 42px;
    margin: 30px;
}

.not-found p {
    font-size: 9px;
}