{% extends 'layout.njk' %}

{% block title %}
School - Teachers
{% endblock %}

{% block content %}
<div class="title">
    <h1>Edit Teacher</h1>
</div>
<form class="card" method="POST" action="/teachers?_method=PUT">
    <section class="avatar" style="background: url({{ teacher.avatar_url }}) no-repeat left center / cover;"></section>
    <section class="details">
        
        {% include "teachers/fields.njk" %}

        <input type="hidden" name="id" value="{{ teacher.id }}">

    </section>
</form>
{% endblock %}